NEXT_PUBLIC_SUPABASE_URL=https://hgfsmeudhvsvwmzxexmv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnZnNtZXVkaHZzdndtenhleG12Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDMwNDUyNDcsImV4cCI6MjA1ODYyMTI0N30.1Fa4jYx-eUB_k_AQackdGBnq3qqC3sfXlht39KUpZDs
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnZnNtZXVkaHZzdndtenhleG12Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0MzA0NTI0NywiZXhwIjoyMDU4NjIxMjQ3fQ.SVxpUmr6QdMk4HHLG80XXAHQXxHVmgYzZ_tGs70zr8c
# Kudosity API Credentials
KUDOSITY_API_KEY=fcda7f29f324e423c44d4d7b558a6517
KUDOSITY_API_SECRET=bsr@anddb0x
